/*  your css code here. If applicable */
/* *{
/* 	background-color:blue;
} */
table{
	background-color:yellow;
	width:80%
	margin:auto;
	border:1px solid black;
/* 	text-align: center; */
	
}
td,th{
	padding:5px;
	border:1px solid black;
}
